.auth-page {
  background-image:url('../../assets/imgs/auth-bg.webp');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
}

.page-info {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.page-info h1 {
  font: 700 3rem/1.5 "Poppins", sans-serif;
  color: var(--g1);
}

.page-info p {
  font: 400 1.5rem/1.5 "Fira Sans", sans-serif;
  color: var(--g1);
}

.highlight-text {
  color: var(--p2);
  font-weight: bold;
}

@media (max-width: 800px) {
  .page-info h1 {
    font-size: 2rem;
  }
  .page-info p {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {

  .page-info {
    gap: 20px;
  }

  .page-info h1 {
    font-size: 1.5rem;
  }
  .page-info p {
    font-size: 0.75rem;
  }
}