.search-page {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.search-page-input {
  width: 50%;
  height: 26px;
  border-radius: 8px;
  border: none;
  padding: 4px 4px 4px 24px;
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
}

@media (max-width: 600px) {
  .search-page-input {
    width: 80%;
  }
}