.instrument {
  padding: 80px 20px;
  background-color: var(--g11);
  border-radius: 8px;
}

.instrument p {
  font: 700 1.5rem/1.1 "Fira Sans", sans-serif;
  text-transform: uppercase;
  color: var(--p2);
}

@media (max-width: 650px) {
  .instrument {
    padding: 30px 4px;
  }

  .instrument p {
    font: 700 1rem/1.1 "Fira Sans", sans-serif;
  }
}