.home {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.home-items {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .home {
  display: block;
  padding: 0 40px 0 40px;
}}