.search-result {
  position: absolute;
  background-color: var(--g4);
  padding: 12px;
  z-index: 10; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.search-result button {
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  margin-bottom: 12px;
  width: 100%;
  text-align: left;
}

.member-name {
  display: block;
  color: var(--g1);
  font: 700 1rem/1.1 "Poppins", sans-serif;
  margin-bottom: 20px;
}