.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 40px;
  background-color: var(--g12);
  padding: 20px 40px;
  border-radius: 4px;
  position: relative;
}

.header input {
  width: 50%;
  height: 26px;
  border-radius: 8px;
  border: none;
  padding: 4px 4px 4px 24px;
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
}

.icons-nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mobile-nav-menu {
  display: none;
  position: relative;
}

.icons-nav-menu-mobile {
  position: absolute;
  top: 55px;
  left: -200px;
  background-color: var(--g10);
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.icons-nav-menu-mobile a,
.icons-nav-menu-mobile button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  font: 700 1rem/1.1 "Poppins", sans-serif;
  color: var(--g3);
}

@media (max-width: 900px) {
  .header-logo {
    width: 80%;
  }

  .icons-nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    display: block;
  }
}

@media (max-width: 670px) {
  .header-logo {
    width: 60%;
  }

  .icons-nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    display: block;
  }

  .header {
    justify-content: center;
    gap: 10px;
  }

  .header-input,
  .mobile-nav-menu {
    flex: 1;
  }

}

@media (max-width: 500px) {
  .header img {
    width: 100px;
  }

  .header input {
    padding: 4px 4px 4px 8px;
    font-size: 0.875rem;
  }
}