.feed-post {
  background-color: var(--g2);
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 40px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-header h2 {
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  color: var(--g12);
}

.post-header span {
  font: 700 0.75rem/1.1 "Fira Sans", sans-serif;
  color: var(--g8);
}

.post-photo {
  border-radius: 8px;
}

.feed-post-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-text {
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  color: var(--g10);
}

.comment-input-btn {
  display: flex;
}

.feed-post-input {
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  flex: 8;
  color: var(--g12);
  background-color: var(--g4);
  padding: 16px 40px;
  border: none;
  border-radius: 8px 0px 0px 8px;
}

.comment-btn {
  flex: 2;
  font: 700 1rem/1.1 "Fira Sans", sans-serif;
  padding: 16px 40px;
  background-color: var(--p2);
  border: none;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.comments-section {
  font: 400 0.875rem/1.1 "Fira Sans", sans-serif;
}

.comments-section a {
  color: var(--g11);
}

.comments-section li {
  background-color: var(--g4);
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

@media (max-width: 500px) {
  .feed-post {
    padding: 10px 20px;
    margin-bottom: 40px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .post-header h2 {
    font-size: 0.875rem;
  }
  
  .post-text {
    font-size: 0.875rem;
  }
  
  .feed-post-input {
    font-size: 0.875rem;
    margin-top: 6px;
  }
}