:root {
  --g1: #FFFFFF;
  --g2: #F7F7F7;
  --g3: #EDEDED;
  --g4: #DEDEDE;
  --g5: #CCCCCC;
  --g6: #B2B2B2;
  --g7: #9C9C9C;
  --g8: #717171;
  --g9: #595959;
  --g10: #404040;
  --g11: #2e2e2e;
  --g12: #111111;
  --g13: #000000;
  --p1: #1B9AAA;
  --p2: #00E2FF;
  --p3: #A3D2D8;
  --icon-size: 40;
}

body,
h1,
h2,
h3,
button,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  background: var(--g11);
  box-sizing: border-box;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  transition: 0.3ms ease-out;
}

a:hover {
  opacity: 0.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sign-btn {
  background-color: var(--p1);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font: 700 1rem/1.1 "Poppins", sans-serif;
  color: var(--g1);
}

.sign-btn-no-bg {
  background: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  border: none;
  font: 700 1rem/1.1 "Poppins", sans-serif;
  color: var(--g1);
}

.sign-btn:hover,
.icon-btn:hover {
  opacity: 0.8;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.unregister-btn {
  font: 700 0.825rem/1.1 "Fira Sans", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  color: var(--g13);
  background-color: red;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  :root{
    --icon-size: 100;
  }
}