.gig-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.gig-btn-area {
  text-align: center;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .gig-list {
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 40px auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}