.band-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-register textarea {
  resize: none;
}

.member-inputs {
  margin-bottom: 40px;
  background-color: var(--g13);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.member-inputs-area {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  gap: 20px;
  width: 100%; 
}

.member-inputs input{
  width: 97%;
}

.members-title {
  color: var(--g1);
  font: 700 2rem/1.1 "Poppins", sans-serif;
  margin-bottom: 40px;
  align-self: center;
}

.basic-multi-select {
  margin-bottom: 20px;
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
}

.band-center-btn {
  align-self: center;
}

@media (max-width: 500px) {
  .register-subtitle {
    margin-bottom: 12px;
  }
  .members-title {
    font-size: 1.25rem;
    margin-bottom: 12px;
  }
  .register-form {
    max-width: 400px;
  }

  .member-inputs-area {
    width: 90%; 
  }
}