.band-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.band-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
  margin-bottom: 80px;
}

.band-cover-photo {
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
  width: 100%;
  height: 600px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.band-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.band-prof-photo {
  max-width: 440px;
  border: 8px solid var(--g12);
  border-radius: 40px;
}

.band-info h1 {
  font: 700 2rem/1.1 "Poppins", sans-serif;
  color: var(--g1);
}

.band-city {
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  color: var(--g4);
  text-transform: uppercase;
}

.band-instruments-refs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 100%;
  text-align: center;
}

.band-instruments,
.band-references {
  background-color: var(--g12);
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 40px;
}

.band-instruments h2,
.band-references h2 {
  font: 700 2rem/1.1 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--g2);
  margin-bottom: 20px;
}
 
.band-btn.active {
  background-color: var(--p1);
}

.follow-btn {
  color: var(--g1);
  font: 700 1.5rem/1.1 "Poppins", sans-serif;
}

.members-area h2 {
  font: 700 2rem/1.1 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--g1);
  text-align: center;
  margin-bottom: 40px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}

.band-feed-title {
  background-color: var(--g10);
  padding: 10px;
  width: 160px;
  border-radius: 8px;
  font: 700 1.25rem/1.1 "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: var(--g2);
}

@media (max-width: 800px) {
  .band-instruments-refs {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .band-instruments,
  .band-references {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .members {
    grid-template-columns: 1fr;
    margin-bottom: 40px;
  }

  .band-prof-photo {
    max-width: 340px;
  }
}

@media (max-width: 500px) {
  .band-info {
    margin-bottom: 20px;
  }

  .band-cover-photo {
    width: 100%;
    height: 300px;
  }

  .band-prof-photo {
    max-width: 200px;
    height: 200px;
    border: 2px solid var(--g12);
    border-radius: 40px;
    object-fit: cover;
  }

  .band-info h1 {
    font-size: 1.5rem;
  }

  .band-instruments,
  .band-references {
    margin-bottom: 20px;
    padding: 20px;
  }

  .band-instruments h2,
  .band-references h2 {
    font-size: 1.25rem;
  }

  .members-area h2 {
    font-size: 1.5rem;
    margin-bottom: 12px;
  }
}