.post-input {
  margin-left: 40px;
  background-color: var(--g10);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 60px 0px 60px;
  margin-bottom: 120px;
}

.user-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--g7);
  margin-bottom: 12px;
}

.post-input-user-thumb {
  margin-left: -40px;
}

.post-input textarea {
  border-radius: 8px;
  padding: 20px;
  height: 246px;
  font: 400 1rem/1.1 "Fira Sans", sans-serif;
  resize: none;
}

.post-menu {
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.send-btn {
  align-self: center;
}

.post-picture-photo {
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .post-input {
    padding: 10px 30px 0px 30px;
  }

  .post-input-user-thumb {
    margin-left: -20px;
  }

  .user-thumb {
    width: 30px;
    height: 30px;
  }
}


@media (max-width: 500px) {
  .post-input {
    padding: 5px 15px 0px 15px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .post-input-user-thumb {
    margin-left: -10px;
  }
  .post-input textarea {
    height: 150px;
    font-size: 0.875rem;
  }
}